
/* header */

header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 15vh;
  z-index: 2;
  position: relative;

  /* nav bar*/
  nav{
    display: none;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;

    /* close button */
    #close_nav_menu{
      margin-left: 35px;
    }

    /* menus list */
    ul{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      margin-right: 35px;

      li{
        list-style-type: none;
        margin-left: 15px;

        &:first-of-type{
          margin-left: 0;
        }

        a{
          font-size: $font_size_body;
          color: $black;
          text-decoration: none;
          font-family: $spartan_700;
          font-weight: bold;
        }
      }
    }
  }

  /* burger menu icon */
  #burger_menu_icon{
    margin-left: 45px;

    img{
      min-width: $font_size_body * 3;
    }
  }

  /* h1 */
  h1{
    text-align: center;
    margin: 0 auto;
    color : $white;
    font-size: $font_size_body * 3;

  }
}